<footer class="border-top foot-cont">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7 social-icon">
                <ul class="list-inline text-center">
                    <li class="list-inline-item">
                        <a href="#!">
                            <i class="uil uil-facebook-f"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#!">
                            <i class="uil uil-instagram"></i>
                            </span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#!">
                            <i class="uil uil-github-alt"></i>
                            </span>
                        </a>
                    </li>
                </ul>
                <div class="small text-center text-muted fst-italic">Copyright &copy; DriveTest By <span
                        class="fw-bold text-black"> Nil Meruliya</span> 2023
                </div>
            </div>
        </div>
    </div>
</footer>